# Node Modules
node_modules

# All Environment Files
.env.*

# Google Cloud Platform Credentials
gcp_creds.json

# Mac Metadata
.DS_Store

# Compiled Output Folder
build/

# Visual Studio Code
.vscode/
