<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="style.css">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>*|MC:SUBJECT|*</title>
</head>

<bo dy leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
            <tr>
                <td align="center" valign="top" id="bodyCell">
                    <!-- BEGIN TEMPLATE // -->
                    <table border="0" cellpadding="0" cellspacing="0" id="templateContainer">
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN HEADER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
                                    <tr>
                                        <td valign="top" class="headerContent">
                                            <img src="https://00e9e64bac332af9ba984dced0a9a8068f853392f88ef3a1bc-apidata.googleusercontent.com/download/storage/v1/b/mchacks6_emails/o/email_logo.svg?qk=AD5uMEsG5ZcVzjZb8YDZnvB6R3ASGRpj7Kzg39YOF4VdNegVbFrqt8VZkAyz4fSoLxHmxkB7HqZzc1DNJ0wpdraDvLQtfDlGlLQS9sQCs-1gUeulHa29zxm8Foxghxq034aE6t1ZQFQ6LjFyACHy0TR-O4mGAkUEBlua0hedgPKPf_BquN9Je-ym8EcrqGQMuaZUrmz5aqbZqQjQwL0C6CJGHwsdUBW3qFf07CDux-tasB_-TwOyHnyMMP4x_0AutZK1eMFQ4pYY6KFIqLiaCqZrL51wlyhnVKlweRHXX9ZzyK3xA_xsVF-8foX08aEUG4JDzu2kNqTAEzxS0GPhaGUFpIDj346EU9Q5gKvXleJOfOL4yYpweyfBYOWCe-yS_2kaSXhT51QElmy__KRbBnOZ0JOFLSFg2v_evOuKkTxOTmD44ZEUolGQD7oowhq9pVbqRgjBnOt4xdnTKuCo5LkDerQXPlwVwBRk7QMl0ZeSPA8c9zBzNh1Th7cG_sq6-mXQ9meGAXWtjQ_08E_-Zwec6q5cciF2OzVQlDqQPYRYhqIqQ2wuV4_EpEPMlKz4ZfVhI9kx9zX2r4uV-8GbyBUeauZxZBY0XiEdVv_gMFBeG8rlG_DujFZjQXx4lEJZPWOgCoHQfqNZObJRA9KJZOJCDjuCLJK72NMpbxbmpLb_zQf3ACUS1iKf5zFifjEqGr2udnOAwsowEnv3N6T0JNFCOg10fRt4STblQ8jp9ejQiNh9-9MyzGo0_lAne0IxluM-9NhwfOy7" id="headerImage" mc:label="header_image"
                                                mc:edit="header_image" mc:allowdesigner mc:allowtext />
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END HEADER -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN BODY // -->
                                <table cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                                    <tr>
                                        <td valign="top" class="bodyContent" mc:edit="body_content00">
                                            <h1>Email Confirmation</h1>
                                            <p>Hi Ailish,</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                            <div class = "center">
                                                <a href="https://app.mchacks.ca" class="button">
                                                    Confirm Email
                                                </a>
                                            </div>
                                        </td>
                                        
                                    </tr>
                                </table>
                                <!-- // END BODY -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN FOOTER // -->
                                <!-- <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
                                    <tr>
                                        <td valign="top" class="footerContent" mc:edit="footer_content00">
                                            <a href="https://facebook.com/{{ facebookHandle }}">Like on Facebook</a>&nbsp;&nbsp;&nbsp;
                                            <a href="mailto:{{ emailAddress }}">Email Us</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" class="footerContent" style="padding-top:0;" mc:edit="footer_content01">
                                            <em>Copyright &copy; {{ hackathonName }} 2018, All rights reserved.</em>
                                            <br />
                                        </td>
                                    </tr>
                                </table> -->
                                <!-- // END FOOTER -->
                            </td>
                        </tr>
                    </table>
                    <!-- // END TEMPLATE -->
                </td>
            </tr>
        </table>
    </center>
    </body>

</html>